//font
$mainFont: 'TT Lakes', 'Arial', 'sans-serif';

//color
$main-background: #F8F8F8;
$white-background: #FFF;
$green-line: #D9FFF5;
$button-color: #FF3E79;
$border-nav: #B8FFEC;
$border-slider: #EAEAEA;